body  {
    font-family: 'Montserrat', sans-serif;
    background-color:#F5F7FA ;

}

.main-container {
    display: flex;
    flex-direction: row-reverse ;
    width: 1200px;
    background-color: #F5F7FA;
    margin: 40px auto;
    box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1);
}
/* main content section */
  
.main-content-section{
        padding: 100px 90px ;
        
   }
.main-content-title{
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 27px;
    color: #000000;
    margin-bottom: 10px;
   }
  
  /* About me section */
.about-me-section  


.about-me-profession {
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    color: #000;
    margin: 0 0 20px 0;
    

}
.About-me-name{
    font-style: normal;
    font-weight: bold;
    font-size: 45px;
    line-height: 55px;
    color: #000;
    margin: 0 0 25px 0;

}
.About-me-description{
    Width: 400px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #595959;
}

.my-projects-section {
    margin-bottom:50px ;

  
}
.My-project-list{
    padding: 0 0 0 17px;

}
.My-project-item{
    color: #000;
    font-weight: bold ;

}
.My-project-link{
    color: #595959;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
}
.My-project-text{
    color: #595959;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    margin-left: 5px;

}
.My-project-bracket{ 
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 24px;
    color: #000000;

}
/*  my work experience*/
.My-work-experience-position{
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
    margin: 0 0 10px 0;
}
.My-work-experience-time{
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    color: #A8A8A8;
    margin: 0 0 10px 0;
}
.my-work-experience-divider{
    color: #000000;
   
}
.My-work-experience-duties{
     padding: 0 0 0 18px;
}
.My-work-experience-duty{
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #595959;

}
.my-work-experience-company-block{
    margin: 0 0 15px 0 ;

}
.my-work-experience-company-third-block{
    margin: 0 0 40px 0 ;
}
.my-work-experience-company{
    color: #FB6D3A;

}
/* Education section  */

.main-content-title{
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 27px;
    color: #000000;

}
.my-education-text{
    color: #FB6D3A;
    margin: 10px 0 10px 0;
}
.my-education-time{
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    color: #A8A8A8;
    margin-top: 10px;

}

/* Sidebar section */
.sidebar-section {
    background-color: #1E2939;
    width: 370px;
    padding: 40px 0;

}
.Contacts-section,
.Tech-skills-section {
    margin: 50px 0 0 40px;
}
.Soft-skills-section {
    margin: 50px 0 0 40px;

}
.sidebar-title{
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 27px;
    color: #F5F7FA;
    margin-bottom: 10px;

}
/* Contacts section */

.Contacts-section-type{
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 24px;
    color: #F5F7FA;
    margin-right: 5px;
}
.Contacts-section-link{
    color:#565E65;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;

}
/* Tech skills section */
.Tech-skills-list{
    padding: 0 0 0 17px;


}
.Tech-skills-item {
    color: #FB6D3A;
    
   
}
.Tech-skills-item-text{
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #F5F7FA;
}
/* Soft skill section */
.Soft-skills-list{
    padding: 0 0 0 17px;
}
.Soft-skills-item{
    color: #FB6D3A;
}
.Soft-skills-item-text{
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #F5F7FA;
}